@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Jost, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: #36393d;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-icon {
  background: none;
  border: none;
  padding: 0;
}
